.modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(187,33,36,0.9);
  padding:20px 50px;
  border-radius: 10px;
  &-bg {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
  }
  &-header{
    font-size:20px;
    color:#fff;
    padding-bottom: 20px;
  }
  &-btn{
    border:none;
    padding:10px 30px;
    margin: 10px;
    border-radius: 5px;
    font-size:18px;
    cursor: pointer;
    background: #aaa;
  }
}
.btn{
  &-cancel{
    &:hover{
      opacity: 0.8;
    }
  }
  &-ok{
    &:hover{
      opacity: 0.8;
    }
  }
}