.note {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid darkgray;
  color: black;
  text-align: center;

  &-title {
    font-size: 20px;
    padding: 20px;
    border-bottom: 2px solid darkgray;
  }

  &-text {
    margin-top: 10px;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
  }

  &-viewer {
    display: flex;
  }

}

.buttons {
  display: flex;
  flex-direction: column;
}

.btn {
  width: 400px;
  height: 50px;
  background-color: #586bff;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 10px;
  color: white;
  margin-top: 10px;

  &:hover {
    background-color: lightblue;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;

  &-links {
    margin-right: 20px;
  }

  &-logo {
    text-decoration: none;
    color: #586bff;
    font-weight: bold;
    margin-left: 20px;
    font-size: 30px;;
  }

  &-link {
    text-decoration: none;
    margin: 0 20px;
    border: 1px solid black;
    padding: 5px 20px;
    color: black;
    border-radius: 10px;

    &-active {
      text-decoration: none;
      margin: 0 20px;
      border: 1px solid black;
      padding: 5px 20px;
      color: black;
      border-radius: 10px;
      background-color: #586bff;
    }
  }
}

.header-link-active {

}

.header-link:hover {
  text-decoration: none;
  margin: 0 20px;
  border: 1px solid black;
  padding: 5px 20px;
  color: black;
  border-radius: 10px;
  background-color: lightblue;
}

.header-link-active:hover {
  text-decoration: none;
  margin: 0 20px;
  border: 1px solid black;
  padding: 5px 20px;
  color: black;
  border-radius: 10px;
  background-color: #586bff;
}

.note {
    overflow: auto;
  &-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;

    &-btn {
      width: 60%;
      height: 40px;
      background-color: #586bff;
      font-size: 20px;
      border: 1px solid black;
      border-radius: 10px;
      color: white;
      margin-top: 10px;

      &:hover {
        background-color: lightblue;
      }

      &:disabled {
        opacity: 0.5;
      }
    }

    &-error {
      color: red;
    }

    &-title {
      color: #586bff;
      font-size: 28px;
    }

    &-input {
      border: 1px solid #586bff;
      font-size: 20px;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 10px;
      width: 60%;
      outline: none;

      &-title {
        height: 50px;
      }

      &-text {
        height: 200px;
      }

      &::placeholder {
        font-size: 20px;
      }
    }

    &-colorContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }

    &-color {
      width: 25px;
      height: 25px;
      margin: 10px;
      border-radius: 50%;
      cursor: pointer;
      box-sizing: border-box;
    }
  }
}

.color {
  &-green {
    background: #d5e8d4;
  }

  &-blue {
    background: #DAE8FC;
  }

  &-yellow {
    background: #FEF2CC;
  }

  &-red {
    background: #F8CECC;
  }

  &-selected {
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.8);
    border: 2px solid #586bff;
  }
}